numpy>=1.21
soundfile>=0.12
pretty_midi>=0.2

# pretty_midi 的依赖
mido>=1.2
librosa>=0.9
scipy>=1.7
joblib>=1.0
numba>=0.53
audioread>=2.1
tqdm>=4.62

# 为兼容 librosa 和 numba 的版本要求（避免出错）
llvmlite>=0.36
packaging>=21.0
